header.header.mdc-elevation--z4.mdc-top-app-bar(data-mdc-auto-init="MDCTopAppBar")
    .userBar.mdc-top-app-bar__row
      section.mdc-top-app-bar__section
        .mobile-nav
          a.menu.material-icons.mdc-top-app-bar__navigation-icon menu
          .mobile-nav__item-name Мои сайты 
        a(href='#').logo
          img(alt='LPTREND' src='./assets/img/content/Logo.svg').logo__img
        a(href='#').user-avatar
          img(alt='USER' src='./assets/img/content/User.svg').user-avatar__img
    .nav
      nav.mdc-tab-bar(data-mdc-auto-init="MDCTabBar")
        a(href='#one').mdc-tab Шаблоны
        a(href='#two').mdc-tab.mdc-tab--active Мои сайты
        a(href='#three').mdc-tab Настройки
        a(href='#four').mdc-tab Платежи
        span.mdc-tab-bar__indicator