aside.mdc-drawer.mdc-drawer--temporary
    nav.mdc-drawer__drawer
      header.mdc-drawer__header.header
        .mdc-drawer__header-content
          .user
            .user-avatar.user-avatar--big
              img(alt='USER' src='./assets/img/content/User.svg').user__img
            .user-name Иван Иванов
            .user-email ivanov@gmail.com
      nav.mdc-drawer__content
        .mdc-list
          a(href='#').mdc-list-item
            i.material-icons.mdc-list-item__graphic(aria-hidden='true') dashboard
            | Шаблоны
          a(href='#').mdc-list-item
            i.material-icons.mdc-list-item__graphic(aria-hidden='true') view_module
            | Мои сайты
          a(href='#').mdc-list-item
            i.material-icons.mdc-list-item__graphic(aria-hidden='true') settings
            | Настройки
          a(href='#').mdc-list-item
            i.material-icons.mdc-list-item__graphic(aria-hidden='true') account_balance_wallet
            | Платежи