.site-card-new
    .site-card-new__wrapper
        .site-card-new__circle
            i.material-icons.site-card-new__circle--icon(title="Добавить сайт") add
        .site-card-new__text.title Новый сайт